section.apartments.section-spacing-outer#apartments
    .container
        .apartments__body
            .apartments__header.section-header
                h2.apartments__title.section-title Квартири
                p.apartments__description.section-description Продумані та сучасні планування квартир враховують всі потреби покупців. <b>Від $ 800 за м2.</b>

            .tabs
                .tabs__header.apartments__buttons
                    button.tabs__trigger.apartments__btn.btn._active(data-tab='1') Усі
                    button.tabs__trigger.apartments__btn.btn._inactive(data-tab='2') 1 кім.
                    button.tabs__trigger.apartments__btn.btn._inactive(data-tab='3') 2 кім.
                    button.tabs__trigger.apartments__btn.btn._inactive(data-tab='4') 3 кім.

                .tabs__body
                    .apartments__tab.tabs__content._active(data-tab='1')
                        .swiper
                            .swiper-wrapper
                                //1k
                                .swiper-slide
                                    .apartments__item
                                        .apartments__item-img
                                            picture
                                                source(srcset=`assets/apartments/45-2.webp` type='image/webp')
                                                img(src=`assets/apartments/45-2.png` alt='')
                                        .apartments__item-title
                                            span 1 кімнатна квартира
                                            span 45,2 м2
                                        .apartments__item-price $ 36 160
                                        .apartments__item-btn.btn(data-modal-open='form-modal') Детальніше
                                .swiper-slide
                                    .apartments__item
                                        .apartments__item-img
                                            picture
                                                source(srcset=`assets/apartments/39-5.webp` type='image/webp')
                                                img(src=`assets/apartments/39-5.png` alt='')
                                        .apartments__item-title
                                            span 1 кімнатна квартира
                                            span 39,5 м2
                                        .apartments__item-price $ 35 076
                                        .apartments__item-btn.btn(data-modal-open='form-modal') Детальніше

                                .swiper-slide
                                    .apartments__item
                                        .apartments__item-img
                                            picture
                                                source(srcset=`assets/apartments/42-5.webp` type='image/webp')
                                                img(src=`assets/apartments/42-5.png` alt='')
                                        .apartments__item-title
                                            span 1 кімнатна квартира
                                            span 42,5 м2
                                        .apartments__item-price $ 37 740
                                        .apartments__item-btn.btn(data-modal-open='form-modal') Детальніше
                                // 2k
                                .swiper-slide
                                    .apartments__item
                                        .apartments__item-img
                                            picture
                                                source(srcset=`assets/apartments/59-8.webp` type='image/webp')
                                                img(src=`assets/apartments/59-8.png` alt='')
                                        .apartments__item-title
                                            span 2 кімнатна квартира
                                            span 59,8 м2
                                        .apartments__item-price $ 47 840
                                        .apartments__item-btn.btn(data-modal-open='form-modal') Детальніше

                                .swiper-slide
                                    .apartments__item
                                        .apartments__item-img
                                            picture
                                                source(srcset=`assets/apartments/58.webp` type='image/webp')
                                                img(src=`assets/apartments/58.png` alt='')
                                        .apartments__item-title
                                            span 2 кімнатна квартира
                                            span 58 м2
                                        .apartments__item-price $ 51 504
                                        .apartments__item-btn.btn(data-modal-open='form-modal') Детальніше

                                .swiper-slide
                                    .apartments__item
                                        .apartments__item-img
                                            picture
                                                source(srcset=`assets/apartments/60.webp` type='image/webp')
                                                img(src=`assets/apartments/60.png` alt='')
                                        .apartments__item-title
                                            span 2 кімнатна квартира
                                            span 60 м2
                                        .apartments__item-price $ 53 280
                                        .apartments__item-btn.btn(data-modal-open='form-modal') Детальніше

                                .swiper-slide
                                    .apartments__item
                                        .apartments__item-img
                                            picture
                                                source(srcset=`assets/apartments/64-7.webp` type='image/webp')
                                                img(src=`assets/apartments/64-7.png` alt='')
                                        .apartments__item-title
                                            span 2 кімнатна квартира
                                            span 64.7 м2
                                        .apartments__item-price $ 57 453
                                        .apartments__item-btn.btn(data-modal-open='form-modal') Детальніше

                                .swiper-slide
                                    .apartments__item
                                        .apartments__item-img
                                            picture
                                                source(srcset=`assets/apartments/65.webp` type='image/webp')
                                                img(src=`assets/apartments/65.png` alt='')
                                        .apartments__item-title
                                            span 2 кімнатна квартира
                                            span 65 м2
                                        .apartments__item-price $ 57 720
                                        .apartments__item-btn.btn(data-modal-open='form-modal') Детальніше


                                .swiper-slide
                                    .apartments__item
                                        .apartments__item-img
                                            picture
                                                source(srcset=`assets/apartments/68-3.webp` type='image/webp')
                                                img(src=`assets/apartments/68-3.png` alt='')
                                        .apartments__item-title
                                            span 2 кімнатна квартира
                                            span 68.3 м2
                                        .apartments__item-price $ 60 650
                                        .apartments__item-btn.btn(data-modal-open='form-modal') Детальніше


                                //3K
                                .swiper-slide
                                    .apartments__item
                                        .apartments__item-img
                                            picture
                                                source(srcset=`assets/apartments/87-4.webp` type='image/webp')
                                                img(src=`assets/apartments/87-4.png` alt='')
                                        .apartments__item-title
                                            span 3 кімнатна квартира
                                            span 87.4 м2
                                        .apartments__item-price $ 69 920
                                        .apartments__item-btn.btn(data-modal-open='form-modal') Детальніше

                                .swiper-slide
                                    .apartments__item
                                        .apartments__item-img
                                            picture
                                                source(srcset=`assets/apartments/75-5.webp` type='image/webp')
                                                img(src=`assets/apartments/75-5.png` alt='')
                                        .apartments__item-title
                                            span 3 кімнатна квартира
                                            span 75.5 м2
                                        .apartments__item-price $ 67 044
                                        .apartments__item-btn.btn(data-modal-open='form-modal') Детальніше

                                .swiper-slide
                                    .apartments__item
                                        .apartments__item-img
                                            picture
                                                source(srcset=`assets/apartments/92-3.webp` type='image/webp')
                                                img(src=`assets/apartments/92-3.png` alt='')
                                        .apartments__item-title
                                            span 3 кімнатна квартира
                                            span 92.3 м2
                                        .apartments__item-price $ 81 962
                                        .apartments__item-btn.btn(data-modal-open='form-modal') Детальніше


                                .swiper-slide
                                    .apartments__item
                                        .apartments__item-img
                                            picture
                                                source(srcset=`assets/apartments/96.webp` type='image/webp')
                                                img(src=`assets/apartments/96.png` alt='')
                                        .apartments__item-title
                                            span 3 кімнатна квартира
                                            span 96 м2
                                        .apartments__item-price $ 85 248
                                        .apartments__item-btn.btn(data-modal-open='form-modal') Детальніше


                            .apartments__pagination.swiper-pagination

                    .apartments__tab.tabs__content(data-tab='2')
                        .swiper
                            .swiper-wrapper
                                //1k
                                .swiper-slide
                                    .apartments__item
                                        .apartments__item-img
                                            picture
                                                source(srcset=`assets/apartments/45-2.webp` type='image/webp')
                                                img(src=`assets/apartments/45-2.png` alt='')
                                        .apartments__item-title
                                            span 1 кімнатна квартира
                                            span 45,2 м2
                                        .apartments__item-price $ 36 160
                                        .apartments__item-btn.bt(data-modal-open='form-modal') Детальніше
                                .swiper-slide
                                    .apartments__item
                                        .apartments__item-img
                                            picture
                                                source(srcset=`assets/apartments/39-5.webp` type='image/webp')
                                                img(src=`assets/apartments/39-5.png` alt='')
                                        .apartments__item-title
                                            span 1 кімнатна квартира
                                            span 39,5 м2
                                        .apartments__item-price $ 35 076
                                        .apartments__item-btn.btn(data-modal-open='form-modal') Детальніше

                                .swiper-slide
                                    .apartments__item
                                        .apartments__item-img
                                            picture
                                                source(srcset=`assets/apartments/42-5.webp` type='image/webp')
                                                img(src=`assets/apartments/42-5.png` alt='')
                                        .apartments__item-title
                                            span 1 кімнатна квартира
                                            span 42,5 м2
                                        .apartments__item-price $ 37 740
                                        .apartments__item-btn.btn(data-modal-open='form-modal') Детальніше

                            .apartments__pagination.swiper-pagination

                    .apartments__tab.tabs__content(data-tab='3')
                        .swiper
                            .swiper-wrapper
                                // 2k
                                .swiper-slide
                                    .apartments__item
                                        .apartments__item-img
                                            picture
                                                source(srcset=`assets/apartments/59-8.webp` type='image/webp')
                                                img(src=`assets/apartments/59-8.png` alt='')
                                        .apartments__item-title
                                            span 2 кімнатна квартира
                                            span 59,8 м2
                                        .apartments__item-price $ 47 840
                                        .apartments__item-btn.btn(data-modal-open='form-modal') Детальніше

                                .swiper-slide
                                    .apartments__item
                                        .apartments__item-img
                                            picture
                                                source(srcset=`assets/apartments/58.webp` type='image/webp')
                                                img(src=`assets/apartments/58.png` alt='')
                                        .apartments__item-title
                                            span 2 кімнатна квартира
                                            span 58 м2
                                        .apartments__item-price $ 51 504
                                        .apartments__item-btn.btn(data-modal-open='form-modal') Детальніше

                                .swiper-slide
                                    .apartments__item
                                        .apartments__item-img
                                            picture
                                                source(srcset=`assets/apartments/60.webp` type='image/webp')
                                                img(src=`assets/apartments/60.png` alt='')
                                        .apartments__item-title
                                            span 2 кімнатна квартира
                                            span 60 м2
                                        .apartments__item-price $ 53 280
                                        .apartments__item-btn.btn(data-modal-open='form-modal') Детальніше

                                .swiper-slide
                                    .apartments__item
                                        .apartments__item-img
                                            picture
                                                source(srcset=`assets/apartments/64-7.webp` type='image/webp')
                                                img(src=`assets/apartments/64-7.png` alt='')
                                        .apartments__item-title
                                            span 2 кімнатна квартира
                                            span 64.7 м2
                                        .apartments__item-price $ 57 453
                                        .apartments__item-btn.btn(data-modal-open='form-modal') Детальніше

                                .swiper-slide
                                    .apartments__item
                                        .apartments__item-img
                                            picture
                                                source(srcset=`assets/apartments/65.webp` type='image/webp')
                                                img(src=`assets/apartments/65.png` alt='')
                                        .apartments__item-title
                                            span 2 кімнатна квартира
                                            span 65 м2
                                        .apartments__item-price $ 57 720
                                        .apartments__item-btn.btn(data-modal-open='form-modal') Детальніше


                                .swiper-slide
                                    .apartments__item
                                        .apartments__item-img
                                            picture
                                                source(srcset=`assets/apartments/68-3.webp` type='image/webp')
                                                img(src=`assets/apartments/68-3.png` alt='')
                                        .apartments__item-title
                                            span 2 кімнатна квартира
                                            span 68.3 м2
                                        .apartments__item-price $ 60 650
                                        .apartments__item-btn.btn(data-modal-open='form-modal') Детальніше

                    .apartments__tab.tabs__content(data-tab='4')
                        .swiper
                            .swiper-wrapper
                                //3K
                                .swiper-slide
                                    .apartments__item
                                        .apartments__item-img
                                            picture
                                                source(srcset=`assets/apartments/87-4.webp` type='image/webp')
                                                img(src=`assets/apartments/87-4.png` alt='')
                                        .apartments__item-title
                                            span 3 кімнатна квартира
                                            span 87.4 м2
                                        .apartments__item-price $ 69 920
                                        .apartments__item-btn.btn(data-modal-open='form-modal') Детальніше

                                .swiper-slide
                                    .apartments__item
                                        .apartments__item-img
                                            picture
                                                source(srcset=`assets/apartments/75-5.webp` type='image/webp')
                                                img(src=`assets/apartments/75-5.png` alt='')
                                        .apartments__item-title
                                            span 3 кімнатна квартира
                                            span 75.5 м2
                                        .apartments__item-price $ 67 044
                                        .apartments__item-btn.btn(data-modal-open='form-modal') Детальніше

                                .swiper-slide
                                    .apartments__item
                                        .apartments__item-img
                                            picture
                                                source(srcset=`assets/apartments/92-3.webp` type='image/webp')
                                                img(src=`assets/apartments/92-3.png` alt='')
                                        .apartments__item-title
                                            span 3 кімнатна квартира
                                            span 92.3 м2
                                        .apartments__item-price $ 81 962
                                        .apartments__item-btn.btn(data-modal-open='form-modal') Детальніше


                                .swiper-slide
                                    .apartments__item
                                        .apartments__item-img
                                            picture
                                                source(srcset=`assets/apartments/96.webp` type='image/webp')
                                                img(src=`assets/apartments/96.png` alt='')
                                        .apartments__item-title
                                            span 3 кімнатна квартира
                                            span 96 м2
                                        .apartments__item-price $ 85 248
                                        .apartments__item-btn.btn(data-modal-open='form-modal') Детальніше
                            .apartments__pagination.swiper-pagination
