section.about.section-spacing-outer#about
    .about__content.section-spacing-inner
        .container
            .about__body
                h2.about__title.section-title
                    span Про
                    span комплекс
                .about__text.section-text
                    div
                        p ЖК “Park Residence” - якісний будинок бізнес-класу, збудований за монолітно-каркасною технологією будівництва.
                        ul
                            li  квартири біля озера
                            li  продумані планування
                            li  пентхауси з відкритими терасами
                    div
                        p Забудовник BAU Comfort - німецька якість та надійність, перевірені часом. Перша черга будинку вже здана в експлуатацію, там вже навіть проживають люди. Друга черга знаходиться у процесі будівництва. Власна резиденція в парку - ось що Ви отримаєте з купівлею квартири BAUComfort на Мазепи.




    .about__media
        .about__images
            .about__building
                picture
                    source(srcset='assets/about/building.webp' type='image/webp')
                    img(src='assets/about/building.png' alt='')
        .about__dots
            picture
                source(srcset='assets/about/dots.webp' type='image/webp')
                img(src='assets/about/dots.png' alt='')


