.address
    .address__map
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2622.2865487526847!2d24.68641831584198!3d48.909932605029915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4730c1df2d22983b%3A0x9d1605d657f0c7d4!2z0JbQmiAiUGFyayBSZXNpZGVuY2Ui!5e0!3m2!1sru!2sua!4v1637442504324!5m2!1sru!2sua" style='border:0;' allowfullscreen='' loading='lazy')


    .container
        .address__body
            .address__content
                address.address__main
                    a(href='https://goo.gl/maps/bcuYdNfzNHkTpbjM8' target='_blank')
                        span Відділ продажу ЖК "Park Residence"
                        span м. Івано-Франківськ, вул. Мазепи, 160а

                    a(href='tel:+380689048108') + 380 68 90 48 108
                    a(href='tel:+380959048108') + 380 95 90 48 108

                    p Пн-Нд: 08:00 - 20:00
