section.installments.section-spacing-outer.section-spacing-inner#installments
    picture.installments__bg
        source(srcset='assets/installments/bg.webp' type='image/webp')
        img(src='assets/installments/bg.png' alt='')
    .container
        .installments__body
            .installments__header.section-header
                h2.installments__title.section-title Про забудовника
                p.installments__description.section-description BAU Comfort - будівельна компанія з німецьким характером. Будівельна компанія, яка забезпечує найвищу якість будівництва та більше 100 років експлуатації будинків.

            .installments__grid

                .installments__item.installments-item
                    .installments-item__icon
                        svg(viewBox='0 0 32 32')
                            use(href="assets/sprite/sprite.svg#tools")
                    h3.installments-item__title Якість і раціональність
                    p.installments-item__text.section-text Німецька архітектура завдяки своїй продуманості уособлює всі ці характеристики.
                .installments__item.installments-item
                    .installments-item__icon
                        svg(viewBox='0 0 32 32')
                            use(href="assets/sprite/sprite.svg#tools")
                    h3.installments-item__title Нові матеріали та технології
                    p.installments-item__text.section-text Архітектори підвищують енергоефективність та легкість управління будинком з допомогою найсучасніших технологій.
                .installments__item.installments-item
                    .installments-item__icon
                        svg(viewBox='0 0 32 32')
                            use(href="assets/sprite/sprite.svg#tools")
                    h3.installments-item__title Практичність та економічність
                    p.installments-item__text.section-text Ці елементи є обов'язковими для новітніх будинків, а забудовник BAU Comfort забезпечує їх як в будівництві, так і в експлуатації.

            a.installments__button.btn(href='#' data-modal-open='form-modal') Підібрати квартиру
