section.advantages.section-spacing-outer
    .container
        .advantages__body
            .advantages__header.section-header
                h2.advantages__title.section-title Переваги
                //p.advantages__description.section-description Reprehenderit esse labore id veniam ut veniam non ex adipisicing amet ullamco dolor proident. Exercitation velit ea incididunt sit qui do ipsum fugiat laboris minim

            .advantages__grid
                .advantages__item.advantages-item
                    .advantages-item__icon
                        svg(viewBox='0 0 32 32')
                            use(href="assets/sprite/sprite.svg#tools")
                    h3.advantages-item__title Розвинена інфраструктура
                    p.advantages-item__text.section-text Дитячий садочок в будинку від БАУ Комфорт на вул. Мазепи, а також магазин, кафе та багато іншого.
                .advantages__item.advantages-item
                    .advantages-item__icon
                        svg(viewBox='0 0 32 32')
                            use(href="assets/sprite/sprite.svg#tools")
                    h3.advantages-item__title Ексклюзивність
                    p.advantages-item__text.section-text Обмежена кількість квартир в третій черзі ЖК Парк Резіденс.
                .advantages__item.advantages-item
                    .advantages-item__icon
                        svg(viewBox='0 0 32 32')
                            use(href="assets/sprite/sprite.svg#tools")
                    h3.advantages-item__title Гарний благоустрій
                    p.advantages-item__text.section-text Тенісний корт, футбольне поле та бігові доріжки для мешканців будинку.
                .advantages__item.advantages-item
                    .advantages-item__icon
                        svg(viewBox='0 0 32 32')
                            use(href="assets/sprite/sprite.svg#tools")
                    h3.advantages-item__title Віддаленість від проїзної частини
                    p.advantages-item__text.section-text Не заважатиме постійний шум машин.
                .advantages__item.advantages-item
                    .advantages-item__icon
                        svg(viewBox='0 0 32 32')
                            use(href="assets/sprite/sprite.svg#tools")
                    h3.advantages-item__title Пентхауси та дворівневі квартири
                    p.advantages-item__text.section-text Забудовник BAUComfort забезпечує індивідуальний простір для кожного.
                .advantages__item.advantages-item
                    .advantages-item__icon
                        svg(viewBox='0 0 32 32')
                            use(href="assets/sprite/sprite.svg#tools")
                    h3.advantages-item__title Закриті двори
                    p.advantages-item__text.section-text Тут будуть різноманітні комфортні відпочинкові зони та майданчики.

