section.buy-flat.section-spacing-outer#invest
    .container
        h2.buy-flat__title.section-title(data-move='768,.buy__info-content,first,min')
            span.text-dark.d-block Купити квартиру та
            span.text-beige.d-block здавати в оренду
        .buy-flat__steps
            .buy-flat__step
                .buy-flat__step-content
                    h3.buy-flat__step-title Квартира  - $35 076
                    p.buy-flat__step-text За такою ціною можна придбати 1 кімнатну квартиру площею 39.5 м2
            .buy-flat__step
                .buy-flat__step-content
                    h3.buy-flat__step-title Ремонт - $5925
                    p.buy-flat__step-text Не витрачайте зайві кошти. В BAU Comfort квартири вже повністю готові до ремонту
            .buy-flat__step
                .buy-flat__step-content
                    h3.buy-flat__step-title Меблі та техніка - $3000
                    p.buy-flat__step-text Такої суми вистачить, щоб покрити усі потреби майбутніх орендарів
            .buy-flat__step
                .buy-flat__step-content
                    h3.buy-flat__step-title Термін окупності - 12 років
                    p.buy-flat__step-text Саме стільки потрібно для того, щоб квартира повністю окупила інвестовані в неї гроші. А далі - тільки більше
            .buy-flat__step
                .buy-flat__step-content
                    h3.buy-flat__step-title Загальна вартість - $44000
                    p.buy-flat__step-text Загальна вартість квартири варіюється залежно від кімнатності та площі обраної квартири
            .buy-flat__step
                .buy-flat__step-content
                    h3.buy-flat__step-title Оренда - $300/міс
                    p.buy-flat__step-text Тільки уявіть! Такий пасивний дохід щомісяця ви будете отримувати від здачі в оренду
            .buy-flat__step
                .buy-flat__step-content
                    h3.buy-flat__step-title Заробіток - $3600/рік
                    p.buy-flat__step-text При депозитах в банках 0.5% річних, цей вклад забезпечує 8% річних у валюті

        .buy-flat__info
            .buy-flat__description
                p Купити квартиру на Мазепи, а особливо якщо це новобудова жк Park Residence в Івано-Франківську - вигідна інвестиція, яка забезпечить постійний пасивний дохід.
                p Park Residence - будинок бізнес-класу біля озера та парку Шевченка. Це робить забудовник БАУ Комфорт досить привабливим для потенційних орендарів. Більше того, новобудова на Мазепи має продумані сучасні планування. Це дозволить облаштувати їх досить швидко та економно.
                p Купити квартиру в Івано-Франківську, а саме квартиру в ЖК Park Residence - отримати якісне будівництво, розвинену інфраструктуру та продумані планування.

            .buy-flat__image
                picture
                    source(srcset='assets/buy/img.webp' type='image/webp')
                    img(srcset='assets/buy/img.png' alt='')





    //.buy__top
    //    .container
    //        .buy__info
    //            h2.buy__info-title.section-title._reverse(data-move='768,.buy__info-content,first,min')
    //                span.text-dark.d-block Купити квартиру та
    //                span.text-beige.d-block здавати її в оренду
    //            .buy__info-img
    //                picture
    //                    source(srcset='assets/buy/img.webp' type='image/webp')
    //                    img(srcset='assets/buy/img.png' alt='')
    //
    //            .buy__info-content
    //                .buy__info-text.section-description
    //                    p Купити квартиру на Мазепи, а особливо якщо це новобудова жк Park Residence в Івано-Франківську - вигідна інвестиція, яка забезпечить постійний пасивний дохід.
    //                    p Park Residence - будинок бізнес-класу біля озера та парку Шевченка. Це робить забудовник БАУ Комфорт досить привабливим для потенційних орендарів. Більше того, новобудова на Мазепи має продумані сучасні планування. Це дозволить облаштувати їх досить швидко та економно.
    //                    p Купити квартиру в Івано-Франківську, а саме квартиру в ЖК Park Residence - отримати якісне будівництво, розвинену інфраструктуру та продумані планування.
    //
    //
    //.buy__middle
    //    .container
    //        .buy__middle-bg
    //            picture
    //                source(srcset='assets/buy/bg.webp' type='image/webp')
    //                img(srcset='assets/buy/bg.png' alt='')
    //        .buy__middle-slider.swiper
    //            .swiper-wrapper
    //
    //                .swiper-slide
    //                    .buy__middle-item
    //                        .buy__middle-item-icon
    //                            svg(viewBox='0 0 32 32')
    //                                use(href="assets/sprite/sprite.svg#tools")
    //                        h3.buy__middle-item-title Квартира  - $ 35 076
    //
    //                        p.buy__middle-item-text За такою ціною можна придбати 1 кімнатну квартиру площею 39.5 м2
    //
    //                .swiper-slide
    //                    .buy__middle-item
    //                        .buy__middle-item-icon
    //                            svg(viewBox='0 0 32 32')
    //                                use(href="assets/sprite/sprite.svg#tools")
    //                        h3.buy__middle-item-title Ремонт - $ 5925
    //
    //                        p.buy__middle-item-text Не витрачайте зайві кошти. В BAU Comfort квартири вже повністю готові до ремонту
    //
    //                .swiper-slide
    //                    .buy__middle-item
    //                        .buy__middle-item-icon
    //                            svg(viewBox='0 0 32 32')
    //                                use(href="assets/sprite/sprite.svg#tools")
    //                        h3.buy__middle-item-title Меблі та техніка - $ 3000
    //
    //                        p.buy__middle-item-text Такої суми вистачить, щоб покрити усі потреби майбутніх орендарів
    //
    //                .swiper-slide
    //                    .buy__middle-item
    //                        .buy__middle-item-icon
    //                            svg(viewBox='0 0 32 32')
    //                                use(href="assets/sprite/sprite.svg#tools")
    //                        h3.buy__middle-item-title Загальна вартість - $ 44000
    //
    //                        p.buy__middle-item-text Загальна вартість квартири варіюється залежно від кімнатності та площі обраної квартири
    //
    //                .swiper-slide
    //                    .buy__middle-item
    //                        .buy__middle-item-icon
    //                            svg(viewBox='0 0 32 32')
    //                                use(href="assets/sprite/sprite.svg#tools")
    //                        h3.buy__middle-item-title Оренда - $ 300/міс
    //
    //                        p.buy__middle-item-text Тільки уявіть! Такий пасивний дохід щомісяця ви будете отримувати від здачі в оренду
    //
    //                .swiper-slide
    //                    .buy__middle-item
    //                        .buy__middle-item-icon
    //                            svg(viewBox='0 0 32 32')
    //                                use(href="assets/sprite/sprite.svg#tools")
    //                        h3.buy__middle-item-title Заробіток - $ 3600/рік
    //
    //                        p.buy__middle-item-text При депозитах в банках 0.5% річних, цей вклад забезпечує 8% річних у валюті
    //
    //                .swiper-slide
    //                    .buy__middle-item
    //                        .buy__middle-item-icon
    //                            svg(viewBox='0 0 32 32')
    //                                use(href="assets/sprite/sprite.svg#tools")
    //                        h3.buy__middle-item-title Термін окупності - 12 років
    //
    //                        p.buy__middle-item-text Саме стільки потрібно для того, щоб квартира повністю окупила інвестовані в неї гроші. А далі - тільки більше
    //
    //            .buy__middle-pagination.swiper-pagination
    //        a.buy__middle-cta.btn.btn_light(href='#' data-modal-open='form-modal') Підібрати квартиру



    //.buy__bottom.section-spacing-inner#offer
    //    .container
    //        .buy__bottom-content
    //            h2.buy__bottom-title.section-title Акція
    //            p.buy__bottom-text.section-text Lorem quis sunt magna dolor consectetur aliqua officia laborum reprehenderit
    //            p.buy__bottom-subtitle ЦІНА 11 000 ГРН/M2
    //            .buy__bottom-cta-wrapper
    //                a.buy__bottom-cta.btn.btn_light(href='#') Отримати пропозицію
