section.showcase
    .container
        .showcase__body
            .showcase__content
                h1.showcase__title ЖК Park Residence від BAU Comfort
                p.showcase__text Житло бізнес-класу для тих, хто цінує справжню якість!
                a.showcase__button.btn(href='#' data-modal-open='form-modal') Запис на перегляд

            .showcase__media
                iframe(src="https://www.youtube.com/embed/g9rK-nPxpXw?&controls=0&autoplay=1&mute=1&playlist=g9rK-nPxpXw&loop=1")
                picture
                    source(srcset='assets/showcase/bg.webp' type='image/webp')
                    img(srcset='assets/showcase/bg.png' alt='')

